body
{
    margin: 0px;

    font-family: 'Karla', sans-serif;

    color: #ffffff;
    background: #1f2937;

}

h1
{
    width: 354px;

    color: #ffffff;
    
    font-size: 40px;
}

p
{
    color: #D5D4D8;

    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

#hero-div
{
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: start;

    margin: 115px 0px 0px 52px;
}

#random-password-text
{
    color: #4adf86;

    font-size: 40px;

}

#generate-password-button
{
    width: 191px;
    height: 42px;

    font-family: 'Inter', sans-serif;

    border-radius: 6px;
    
    color: #ffffff;
    background: #10B981;

    padding: 9px 17px 9px 15px;
    gap: 12px;
}

#password-results-div
{
    width: 450px;

    display: flex;
    flex-direction: row;
    
    justify-content: space-around;
    align-items: start;

    border-top: 1px solid #2F3E53;

    margin-top: 50px;
}

.password-element
{
    width: 211px;
    height: 39px;

    color: limegreen;
    background: #273549;

    margi
}